---
title: Dashboard
---

<% content_for :stylesheets do %>
  <%= stylesheet_link_tag 'isotope-style' %>
<% end %>

<% content_for :scripts do %>
  <%= javascript_include_tag 'vendor/jquery.isotope.min' %>
<% end %>

<section id="options" class="clearfix"> 
  <div class="option-combo">
    <!--h3>Filter by:</h3-->
    <ul id="filters" class="option-set clearfix" data-option-key="filter">
      <!--li><a href="#filter" data-option-value="*" class="selected">All</a></li-->
      <li><a href="#filter" data-option-value=".quality"><i class="icon-quality"></i> Quality Measures <span class="sideStats"><i class="icon-hotspot"></i> 2/4</a></span></li>
      <li><a href="#filter" data-option-value=".utilization"><i class="icon-utilization"></i> Utilization Measures <span class="sideStats"><i class="icon-hotspot"></i> 0/5</a></li>
      <li><a href="#filter" data-option-value=".registry"><i class="icon-registry"></i> Registry <span class="sideStats"><i class="icon-hotspot"></i> 0/9</span></a></li>
    </ul>
  </div>

  <!--div class="option-combo option-right">
    <h3>Sort order:</h3>
    <ul id="sort-direction" class="option-set clearfix" data-option-key="sortAscending">
      <li><a href="#sortAscending=true" data-option-value="true" class="selected">Ascending</a></li>
      <li><a href="#sortAscending=false" data-option-value="false">Descending</a></li>
    </ul>
  </div-->

  <!--div class="option-combo option-right">
    <h3>Sort by:</h3>
    <ul id="sort-by" class="option-set clearfix" data-option-key="sortBy"-->
      <!--li><a href="#sortBy=original-order" data-option-value="original-order" class="selected">Default</a></li>
      <li><a href="#sortBy=number" data-option-value="number">Percentage</a></li-->
      <!--li><a href="#sortBy=hotspot" data-option-value="hotspot" class="selected">Hotspot</a></li>
      <li><a href="#sortBy=date" data-option-value="date">Date</a></li>
      <li><a href="#sortBy=name" data-option-value="name">Name</a></li>
    </ul>
  </div-->
</section><!-- #options -->

<div id="isotope-container" class="row clearfix clickable">

  <% data.isotope.each do |k| %>
    <% if (k.hotspot) %>
      <div class="col desktop-12col-span4 tablet-12col-span4 mobile-12col-span8 <%= k.icon %> height2 element" data-hotspot="1" data-date="">
    <% else %>
      <div class="col desktop-12col-span2 tablet-12col-span2 mobile-12col-span4 <%= k.icon %> element" data-hotspot="5" data-date="">
    <% end %>

      <div class="item" data-toggle="modal" data-target=".bs-modal-lg">
        <div class="corner">
          <% if (k.hotspot) %><i class="icon-hotspot"></i><% end %> <i class="icon-<%= k.icon %>"></i>
        </div>
        <div class="desc">
          <h3 class="name"><%= k.title %></h3>
          <p><%= k.subtitle %></p>
        </div>
        <% if (k.hotspot) %>
          <p class="number"><%= k.percent %></p>
          <p class="subStats"><%= k.subStats %></p>
          <p class="date"><%= k.date %></p>
        <% end %>
        <i class="dots icon-dots"></i>
      </div>
    </div> 
  <% end %>

</div><!-- #isotope-container -->


<!-- Large modal -->
<!--button class="btn btn-primary" data-toggle="modal" data-target=".bs-modal-lg">Large modal</button-->
<div class="modal fade bs-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        ... Modal content ...
      </div>
      <div class="modal-footer">
        ... Modal footer ...
      </div>
    </div>
  </div>
</div>

