---
title: Dashboard
---

<div class="row clearfix">
  <div class="col col12-span6 col8-span4 col6-span6">
    <div class="ribbon">
      <i class="icon-check"></i>
    </div>
    people count: <%= data.people.friends.count %>
    <ul>
      <% data.people.friends.each_with_index do |f, index| %>
      <li><%= index + 1 %>: <%= f %></li>
      <% end %>
    </ul>
  </div>

  <div class="col col12-span6 col12-omega col8-span4 col8-omega col6-span6">
    <div class="ribbon">
      <i class="icon-check"></i>
    </div>
    sidebar count: <%= data.sidebar.count %>
    <ul>
      <% 1.upto(5) do |num| %>
          <li><%= num %>: <%= data.sidebar[num] %></li>
      <% end %>
    </ul>
  </div>

  <!--div class="clearfix col8-hide"></div--> 

  <div class="col col12-span3 col8-span2 col6-span3">
  </div>

  <div class="col col12-span3 col8-span2 col6-span3 col6-omega">
  </div>

  <div class="col col12-span3 col8-span2 col6-span3">
  </div>

  <div class="col col12-span3 col12-omega col8-span2 col8-omega col6-span3 col6-omega">
  </div>
</div><!-- .row -->

<div class="row clearfix">
  <div class="col col12-span12 col8-span8 col6-span6">
  </div>
</div><!-- .row -->


