<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!-- Use title if it's in the page YAML frontmatter -->
    <title>Healthagen | <%= current_page.data.title %></title>
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
    <% if content_for?(:stylesheets) %>  
      <%= yield_content :stylesheets %>
    <% end %>
    <%= stylesheet_link_tag 'boilerplate', 'bootstrap.min', 'pushy', 'main' %>
    <%= javascript_include_tag 'vendor/modernizr-2.6.2.min' %>
</head>
<body class="<%= page_classes %>">

    <!-- Pushy Menu -->
    <nav class="pushy pushy-left">
        <ul>
            <li><a href="#">Overview</a></li>
            <li><a href="#">Patients</a></li>
            <li><a href="#">Connect</a></li>
            <li><a href="#">Tasks</a></li>
            <li><a href="#">Patient Profile</a></li>
        </ul>
    </nav>

    <!-- Site Overlay : used with Pushy Menu -->
    <div class="site-overlay"></div>

    <div id="container" class="wrapper">

        <%= partial current_page.data.nav || "partials/nav-1" %>

        <div class="page-wrapper">
          <%= yield %>
        </div>
      
    </div>

    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="<%= current_page.data.relativePath %>js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
    <% if content_for?(:scripts) %>  
      <%= yield_content :scripts %>
    <% end %>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <%= javascript_include_tag 'classie', 'modalEffects', 'cssParser', 'waypoints.min', 'sticky', 'pushy.min', 'plugins', 'main' %>
</body>
</html>
