<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!-- Use title if it's in the page YAML frontmatter -->
    <title>Healthagen | <%= current_page.data.title %></title>
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1">
    <% if content_for?(:stylesheets) %>  
      <%= yield_content :stylesheets %>
    <% end %>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
    <%= stylesheet_link_tag 'boilerplate', 'main' %>
    <!-- 'isotope-style',  -->
    <%= javascript_include_tag 'vendor/modernizr-2.6.2.min' %>
</head>
<body class="<%= page_classes %>">

    <div class="wrapper">

        <%= partial current_page.data.nav || "partials/nav-1" %>

        <div class="page-wrapper">
          <%= yield %>
        </div>

        <div id="panel" style="display: none;"><!-- info-panel -->
            <a class="close-x" id="close-x">x</a>
            <dl>
                <dt>window-width:</dt>
                <dd class="win"></dd>
                <dt>breakpoint:</dt>
                <dd class="breakpoint"></dd>
            </dl>
        </div>

    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="<%= current_page.data.relativePath %>js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
    <% if content_for?(:scripts) %>  
      <%= yield_content :scripts %>
    <% end %>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <%= javascript_include_tag 'classie', 'modalEffects', 'cssParser', 'plugins', 'main' %>
</body>
</html>
